.contenedor-principal {
           
        background-color:blue;
       height:100vh;
        padding-left:2rem;
        
        color:white;
        font-weight:600px;
       

             
}  

.text-principal{
       text-align:left;
       padding-bottom: 2rem;
       margin-left:2rem;
}

input{
    display:flex;
    width:80%;
    border-radius:12px;
    


}

        


                                                
.contenedor-pokemon {
    display:flex;
    flex-direction: row;
     flex-wrap: wrap;

    gap:1rem;
    background-color:#f5f5f5;
   padding-bottom: 19rem;
    
    
    
}
    
    
    
     

.pokemon img {
      width:10vh;
      height: 10vh;
      border-radius:4px;
    text-shadow: 3px, 4px, 4px, rgb(100, 95, 95);
    padding: 1rem 0 0 1rem;
    

   
   

     
}
.pokemon p {
      text-align:center;
     
      color:gray;

   
}


