.contenedor-principal {

      background-color: blue;
      height: 100vh;
      padding-left: 1rem;
      padding-top: 1rem;

      margin-bottom: 1rem;
      font-weight: 600px;



}

.text-principal {
      text-align: left;
      padding-bottom:2rem;
      padding-left: 12rem;
      color: white;
      font-size: 19px;
      font-weight:bold;
}

input {
      display: flex;
      width: 80%;
      border-radius:2rem;



}

.circulo {
      display:flex;
      flex-direction: row;
      column-gap:11px;
}

.radius{
      color:#a82428;
      width: 50px;
      height:50px;
      border-radius:50%;
      background-color: aliceblue;
        align-items: center;
        display:flex;
        flex-direction:column;
        justify-content:center ;
       
}



.contenedor-pokemon {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
       row-gap:1rem;
       padding-left:30px;
      background-color: #f5f5f5;
      padding-bottom:2rem;
      border-radius: 6px;
       



}

.pokemon {
      background-image: linear-gradient(to bottom,white,#e4eaee);
     margin-left: 6rem;
     
      box-shadow: 4px 2px rgb(214, 211, 211);
       padding:  1rem 1rem 1rem 1rem;
      

      
}
.pokemon img {
      width:10vh;
      height:10vh;
      margin-left: 18px;
      border-radius: 6px;
       margin-top: 6px;
      display:block;
      gap:1rem;
      
      

      


}

.pokemon p {
      text-align: center;
      
      color: gray;


}