.contenedor-principal {

      background-color: blue;
      height: 100vh;
      padding-left: 2rem;
      padding-top: 1rem;

      margin:0;
      font-weight: 600px;



}

.text-principal {
      text-align: left;
      padding-bottom:2rem;
      margin-left: 2rem;
      color: white;
}

input {
      display: flex;
      width: 80%;
      border-radius:2rem;



}

.circulo {
      display:flex;
      flex-direction: row;
      column-gap: 11px;
}

.radius{
      color:#a82428;
      width: 50px;
      height:50px;
      border-radius:50%;
      background-color: aliceblue;
      text-align:center;
      display:flex;
      flex-direction: column;
      justify-content: center;
}



.contenedor-pokemon {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      

      gap: 1rem;
      background-color: #f5f5f5;
      padding-bottom: 0;
      border-radius: 6px;




}

.pokemon {
      background-image: linear-gradient(to bottom, white 50%, #DDE2E6 20%, #DDE2E6 50%);
      margin-left: 6rem;
      
      padding: 1rem 1rem 1rem 1rem;

}

.pokemon img {
      width: 10vh;
      height: 10vh;
      border-radius: 6px;
       margin-top: 6px;
       


}

.pokemon p {
      text-align: center;
      margin-left: 28px;
      color: gray;


}